@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
$header-color: #181818;
$font-color: white;
$light-black: #323232;
$dark-black: #000000;
$spc-text: #ff1493;
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

#side-panel{
    width: 25vw;
    height: 100vh;
    background-color: $header-color;
    position: fixed;
    z-index: 1;
}
.main-div{
    position: relative;
}
.nav-list{
    list-style: none;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    top: 130px;
}
.nav-list-sec{
    display: none;
}

// .main-div{
//     position: relative;
// }
.logo{
    height: 70px;
    width: 110px;
    position: absolute;
    margin-left: 35%;
    margin-top: 30px;;
}
.items{
    color:$font-color;
    padding: 30px 80px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oxygen';
    margin-right: 20px;
    border-bottom: 1px solid white;
    &-link{
        text-decoration: none;
    }
    &:hover{
        color: $spc-text;
    }
}
.contacts{
    position: absolute;
    top: 90vh;
    left: 70px;
        
}

.fab{
    display: inline;
    color: white;
    font-size: 30px;
    margin: 0 10px;
}
.channel{
    display: none;
}
.main-body-start{
    background-image: linear-gradient(to right ,
                     rgba($light-black,0.8),
                     rgba($dark-black,0.8)),
                    url('../img/bg.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: -1;
    // background-repeat: no-repeat;
}

.menu{
    height: 60px;
    width: 60px;
    background-color: white;
    position: absolute;
    left: 90%;
    top: 10%;
    border-radius: 50%;
    display: none;
}
.fas{
    font-size: 30px;
    position: absolute;
    left: 28%;
    top: 23%;
    color: black;
    z-index: 2;
}
.my-image{
    height: 170px;
    width: 170px;
    position: absolute;
    // left: 55%;
    left: 55%;
    top: 9rem;
    border: 4px white solid;
    border-radius: 50%;
    display: block;
}

.main-body-text{
    position: absolute;
    top: 22rem;
    // margin-left: 53%;
    left: 53%;
}
.main-text{
    display: block;
}
.first-name{
    display: inline;
    margin-right: 5px;
    color: white;
    font-size: 40px;
    font-family: 'Lato';
}
.last-name{ 
    display: inline;
    color: $spc-text;
    font-size: 40px;
    font-family: 'Lato';
}
.about-me{
    // position: absolute;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato';
    display: inline-block;
}
.i-am{
    display: inline;
}
.changing{
    display: inline;
}
.about-me-part{
    display:inline;
    color: $spc-text;
}
.cursor{
    display: inline;
    font-size: 30px;
    animation: blink 0.5s ease infinite;
}
#main-body-info{
    width: 100%;
    height: 100vh;
    background-color: #111111;
    position: relative;
}
#main-info{
    text-transform: uppercase;
    color: $spc-text;
    position: absolute;
    left: 25rem;
    top: 35px;
    font-family: 'Lato';
    font-size: 15px;
}
#about-me{
    position: absolute;
    left: 25rem;
    top: 60px;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Lato';
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media only screen and (max-width:1221px)
{
    *{
        max-width: 100%;
    }
    #side-panel{
        display: none;
    }

    .my-image{
        left: 43%;
    }
    .i-am .changing{
        display: inline;
    }
    .main-body-text{
        left: 42%;
    }
    #main-info{
        left: 0;
        margin-left: 30px;
    }
    #about-me{
        left: 0;
        margin-left: 30px;
    }
    .menu{
        display: block;
        left: 80%;
        top: 5%;
        cursor: pointer;
        z-index: 4;
        position: fixed;
    }
    .channel{
        position: absolute;
        height: 95vh;
        width: 100%;
        display: block;
        background-color: rgba($dark-black,0.96);
        clip-path: circle(60px at 90% -10%);
        -webkit-clip-path: circle(60px at 90% -10%);
        transition: all 1s ease-out;
        // z-index: 2;
        position: fixed;
    }
    .channel.open{
        position: absolute;
        height: 95vh;
        width: 100%;
        background-color: rgba($dark-black,0.93);
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        transition: all 1s ease-out;
        z-index: 2;
        position: fixed;
    }
    .nav-list-second{
        display: block;
        position: absolute;
        left: 33%;
        top: 18%;
        // z-index: 5;
    }
    .items-link-sec:link,
    .items-link-sec:visited{
        font-family: 'Lato';
        display: block;
        list-style-type: none;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        padding: 15px;
        margin-bottom: 20px ;
        text-align: center;
        z-index: 4;
        color: $spc-text;
    }
    .contacts-2{
        position: absolute;
        top: 68vh;
        left: 82px;
        z-index: 10;
    }
    .contact-items-2:link{
        cursor: pointer;
        z-index: 10;
    }

}
@media only screen and (max-width:800px)
{
    *{
        max-width: 100%;
    }
    #side-panel{
        display: none;
    }

    .my-image{
        left: 40%;
    }
    .i-am .changing{
        display: inline;
    }
    .main-body-text{
        left: 35%;
    }
}
@media only screen and (max-width:500px)
{
    *{
        max-width: 100%;
    }
    #side-panel{
        display: none;
    }

    .my-image{
        left: 27%;
    }
    .i-am .changing{
        display: inline;
    }
    .about-me{
        left: 20%;
    }
    .first-name{
        font-size: 35px;
    }
    .last-name{
        font-size: 35px;
    }
    .main-body-text{
        left: 25%;
        font-size: smaller;
    }
}

